
.vscode/

# Virtual environments
.venv/

# Python artifacts
**/__pycache__/
*.pyc

verif/utils/check_memory.txt

test/

submodules/spike-install

verif/results.xml
myenv/

verif_copy/
verif_updated/
verif/*.log
verif/*.vcd
verif/sim_build/